#container {
    width: 400px;
    margin-left: 50px
}

#submitBtn {
    height: 50px;
    margin-left: 50px
}

#singlePost {
    margin-top: 50px
}

#headerCard {
    font-weight: bolder;
}

#removePostBtn {
    position: center;
    margin-top: 10px
}

#postContent {
    height: 150px
}

#comment {
    margin-top: 20px
}

#createPostBtn {
    margin-left: 85px
}