#container {
    width: 400px;
    margin-left: 50px
}

#submitBtn {
    height: 50px;
    margin-left: 50px
}

#postContainer {
    width: 500px;
    height: auto;
    border: 1px solid #bfc0c7;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 75%
}

#headerCard {
    font-weight: bolder;
}

#removePostBtn {
    position: center;
    margin-top: 10px
}

#postContent {
    height: 150px
}

#comment {
    margin-top: 20px
}

#createPostBtn {
    margin-left: 128.5%;
    width: 90px;
}